<%- include('partials/header') -%>

<div id="heading" class="box">
  <h1> <%= eCurrentDay %> </h1>
</div>

<div class="box">
  <form action="/delete" method="post">

    <%  newListItems.forEach(function(item){%>
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
      <p> <%= item.name %> </p>
    </div>
    <% }) %>

  </form>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Your new item here..." autocomplete="off" autofocus>
    <button type="submit" name="submit">+</button>
  </form>

</div>

<%- include('partials/footer') -%>